.tabla-tareas {
    width: 100%;
    height: 50%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

table {
    width: 60%;
    height: 90%;
    padding: 2%;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px var(--glaucous-oscuro);
}

caption, thead, tbody,hr {
    margin: 0% 0% 1% 0%;
}

caption {
    display: none;
}

thead {
    text-transform: uppercase;
    margin-bottom: 2%;
}

tbody {
    height: 90%;
}

hr {
    width: 50%;
    height: 3px;
    background-color: var(--xanthous);
    border: none;
}

tbody tr td, tbody tr {
    border: none;
    text-align: center;
}


.bx {
    font-size: 18pt;
}

.bx-task {
    color: green;
}

.bx-task-x {
    color: red;
}

.muy-importante {
    color: red;
}

.importante {
    color: var(--zaffre);
}

.intermedio {
    color:green;
}

tbody td:nth-child(5) {
    border: none;
    cursor: pointer;
}

tbody tr:hover td, tbody tr:hover {
    
}

tbody td > input[type="date"] {
    width: 150px;
    padding: 1%;
}

.fila-acciones button {
    width: 40px;
    padding: 1%;
    border: none;
    border-radius: 5px;
    background-color: var(--glaucous);
    cursor: pointer;
}

.fila-acciones button:hover {
    transition: 0.3s linear;
    color: var(--licorize);
}
.fila-acciones button:nth-child(1):hover{
    background-color: red;
}

.fila-acciones button:nth-child(2):hover{
    background-color: green;
}

.fila-acciones button:nth-child(3):hover {
    background-color: var(--xanthous);
}

.fila-acciones button:nth-child(4):hover {
    background-color: var(--glaucous-oscuro);
}

@media screen and (max-width:650px){
    .fila-acciones button {
        padding: 0;
        width: 35px;
    }
}